<div ng-controller="ConsolesCtrl">
	<h3>Consoles</h3>
	<div class="row">
		<div class="col-md-4">
			List and manage all your consoles here. Change the status of a console, filter by available or unavailable consoles.
		</div>
	</div>
	<br/><br/>
	<div class="row">
		<div class="col-md-8">
			
			<label>Status
			<select ng-model="searchStatus" class="form-control">
			  <option value=""></option>
		      <option value="0">Available</option>
		      <option value="1">Borrowed</option>
		    </select>
			</label>
			<br/><br/>

			<table class="table striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Status</th>
						<th>Borrower</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td ng-class="{'has-error': !console.name, 'has-success': console.name}">
							<select ng-model="console.name" name="name" class="form-control">
						      <option value="PC">PC</option>
						      <option value="PS1">PS 1</option>
						      <option value="PS2">PS 2</option>
						      <option value="PS3">PS 3</option>
						      <option value="PS4">PS 4</option>
						      <option value="Wii">Wii</option>
						      <option value="WiiU">Wii U</option>
						      <option value="Xbox">Xbox</option>
						      <option value="Xbox360">Xbox 360</option>
						      <option value="XboxOne">Xbox One</option>
						    </select>
						</td>
						<td ng-class="{'has-error': !console.status, 'has-success': console.status}">
							<select ng-model="console.status" name="status" class="form-control">
						      <option value="0">Available</option>
						      <option value="1">Borrowed</option>
						    </select>
						</td>
						<td ng-class="{'has-error': !console.borrower && console.status == 1, 'has-success': console.status == 0 || console.status === undefined || (console.status == 1 && console.borrower)}">
							<input type="text" ng-model="console.borrower" name="borrower" class="form-control">							
						</td>

						<td>
							<button id="addBtn" ng-if="console._id===undefined" class="btn btn-primary" ng-click="addConsole()" ng-disabled="!console.name || !console.status || (!console.borrower && console.status == 1)">Add</button>
							<button id="updateBtn" ng-if="console._id!==undefined" class="btn btn-info" ng-click="updateConsole()" ng-disabled="!console.name || !console.status || (!console.borrower && console.status == 1)">Update</button>
						</td>
					</tr>

					<tr ng-repeat="console in consoles | filter:{status: searchStatus}">
						<td>{{console.name}}</td>
						<td>
							<div ng-if="console.status == 0">Available</div>
							<div ng-if="console.status == 1">Borrowed</div>
						</td>
						<td>
							{{console.borrower}}
						</td>
						<td>
							<button class="btn btn-warning" ng-click="editConsole(console._id)">Edit</button> 
							<button class="btn btn-danger" ng-click="deleteConsole(console._id)">Delete</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>